<?xml version="1.0"?>
<config>
    <interface type="JSON">
    	<url>http://10.0.0.3/solar_api/GetInverterRealtimeData.cgi?Scope=System</url>	
    </interface>
    <interface type="D0">
		<port>/dev/ttyUSB</port>
		<baudRate>300</baudRate>
		<parity>2</parity>
		<dataBits>7</dataBits>
		<stopBits>1</stopBits>
		<maxBaudRate>60</maxBaudRate>
		<interval>60</interval>
	</interface>
    <interface type="S0">
		<ticksPerKwh>800</ticksPerKwh>
		<offset>1555.6</offset>
	</interface>
    <interface type="DB">
		<name>logdata</name>
		<table>xamis</table>
		<user>DataCollector</user>
		<password>collect</password>
	</interface>
</config>