<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <interface type="JSON">
    	<url>http://solar/solar_api/v1/GetInverterRealtimeData.cgi?Scope=System</url>	
		<interval>60</interval>
    </interface>
    <interface type="D0">
		<port>/dev/ttyUSB0</port>
		<baudrate>300</baudrate>
		<parity>EVEN</parity>
		<databits>7</databits>
		<stopbits>1</stopbits>
		<maxbaudrate>2400</maxbaudrate>
		<interval>60</interval>
	</interface>
    <interface type="S0">
		<ticksperkwh>800</ticksperkwh>
		<offset>5528</offset>
		<gpiopin>GPIO_00</gpiopin>
		<pullresistance>PULL_DOWN</pullresistance>
		<interval>60</interval>
	</interface>
    <interface type="DB">
		<hostname>localhost</hostname>
		<database>logdata</database>
		<port>56665</port>  
		<table>sg3</table>
		<user>DataCollector</user>
		<password>collect</password>
		<interval>60</interval>
	</interface>
</config>
